.btn{
  width: 200px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid blue;
  color: blue;
  font-size: 25px;
  background-color: white;
  transition: all .4s ease;
  letter-spacing: 2px;
  word-spacing: 2.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover{
  background-color: blue;
  color: white;
}
.change{
  width: 250px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid rgb(0, 255, 0);
  color: rgb(0, 255, 0);
  font-size: 25px;
  background-color: white;
  transition: all .4s ease;
  letter-spacing: 2px;
  word-spacing: 2.5px;
}
.change:hover{
  background-color: rgb(0, 255, 0);
  color: white;
}
.container{
  width: 100%;
  height: 95vh;
}
.OpenDiv{
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3px;
  border: 10px double yellow;
  border-radius: 12px;
  position: relative;
  display: none;
}
.btns{
  display: flex;
  justify-content: space-evenly;
}

.Hide {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: none;
}
.Hide input{
  padding: 12px;
  border-radius: 10px;
  border: 2px solid blueviolet;
  color: blue;
  outline: none;
  font-size: 15px;
  font-family: monospace;
  width: 250px;
}
.Hide input::placeholder{
  color: blueviolet;
}
.Hide input:focus::placeholder{
  color: red;
}
.Hide input:focus{
  border: 2px solid red;
  color: red;
}
.create {
  background-color: white;
  color: rgb(0, 255, 0);
  border: 2px solid rgb(0, 255, 0);
  padding: 12px;
  width: 130px;
  border-radius: 8px ;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s ease-in;
  letter-spacing: 2px;
}
.create:hover{
  background-color: rgb(0, 255, 0);
  color: white;
  border: 2px solid rgb(0, 255, 0);
}
.OpenDiv div {
  width: 350px;
  height: 400px;
  border: 2px solid black;
  border-radius: 8px;
}
.OpenDiv div img{
  width: 100%;
  height: 250px;
}